@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.content{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    background-color: #5e9b59;
    color: #C7E8CA;
}

.home:hover, .menu:hover, .contact:hover{
    color: #DDF7E3;
}

.home, .menu, .contact{
    margin: 0;
}
.mainBody{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(./bgSalad.png);
    background-position: top center;
    margin: 0;
    color: #F4F4F2;
    padding-bottom: 10%;
}

.name{
    margin:0;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(2rem, 0.88rem + 5.6vw, 8rem);
}

.subName{
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(1rem, 0.63rem + 1.8vw, 3rem);
}

.subName{
    margin: 0;
    font-size: 1rem;
}

.textMainBody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 15% 10% 15% 10%;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}



.welcome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(255, 255, 255), #C7E8CA);
    padding: 20% 0 20% 0;
}

.welText{
    font-family: 'Great Vibes', cursive;
    color:#5e9b59;
    font-size: clamp(2rem, 0.88rem + 5.6vw, 4rem);
}

.welTextH2{
    text-align: center;
    margin: 0;
    /* padding: 10% 0 0 0; */
}

.paraText{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(1rem, 0.63rem + 1.8vw, 3rem);
    margin-top: 0;
    padding: 0 10% 0 10%;
    color: #DF2E38;
}

.orderNow{
    padding: 0 0 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#C7E8CA, #5e9b59);
}

.orderNowText{
    font-family: 'Work Sans', sans-serif;
    color:#DF2E38;
}
.orderFrom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.swiggy{
    width: 8%;
    height: auto;
}

.zoma{
    width: 8%;
    height: auto;
}

.zoma:hover, .swiggy:hover {
  opacity: 0.8;
}

.bktblbtn{
    background-color: #C7E8CA;
    color: #5e9b59;
    padding: 5px 30px 5px 30px;
    border: solid 0.5px;
}

.bktblbtn:hover{
    background-color: #5e9b59;
    color: #C7E8CA;
}

.footer{
    background-color: #5e9b59;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5px;
    margin: 0;
}

.footNote{
    margin: 0;
}

.selected{
    color: #DDF7E3;
}